.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgb(33, 36, 41, 0.05);
    border-radius: 12px;
    min-height: 367px;
    flex-basis: 350px;
    text-decoration: none;
    color: var(--black);
}

.card:active, .card:hover {
    text-decoration: none;
    color: var(--black);
}

.card__body {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    pointer-events: none;
}

.card__footer {
    font-family: 'Roboto', sans-serif;
    bottom: 38px;
    text-align: center;
}

.card__footer-name {
    font-style: medium;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    padding-bottom: 6px;
}

.card__footer-type {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 30px;
}

.card__checkbox {
    margin-bottom: 16px;
}

.card__radio {
    margin-bottom: 16px;
}
