/* Стилизация аккордеона */
.accordion {
    display: inline-block;
}

.accordion__item {
    width: 730px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 24px 32px;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__item[open] .accordion__summary {
    padding-bottom: 14px;
}

.accordion__summary {
    display: block;
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    outline-style: none;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__text {
    color: var(--grey-4);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    width: 650px;
    margin: 0;
}

.accordion__arrow {
    position: absolute;
    left: 650px;
}

.accordion__item[open] .accordion__arrow {
    transform: rotate(180deg);
}
