.toggle {
    display: inline-block;
}

.toggle__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    opacity: 0;
    outline: none;
}

.toggle__state {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.toggle__control {
    position: relative;
    background-color: var(--radio-bg);
    border: 1px solid var(--grey-2);
    border-radius: 16px;
    box-sizing: border-box;
    width: 52px;
    height: 28px;
    transition: all 0.5s;
}

.toggle__icon {
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--grey-2);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transition: all 0.5s;
}

.toggle__label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--radio-label);
    margin-left: 12px;
}

.toggle__label-svg-rigth {
    margin-left: 15px;
    color: var(--black);
}

.toggle__label-svg-left {
    margin-right: 15px;
}

.toggle__label-svg-rigth-moon {
    width: 24px;
    height: 24px;
    color: var(--menu-toggle);
}

.toggle__label-svg-left-sun {
    width: 24px;
    height: 24px;
    color: var(--menu-toggle);
}

.toggle__input:checked ~ .toggle__state .toggle__control {
    background-color: var(--blue);
    border-color: var(--blue);
}

.toggle__input:checked ~ .toggle__state .toggle__icon {
    background-color: var(--white);
    left: 24px;
}

.toggle__input:focus ~ .toggle__state .toggle__label {
    text-decoration: underline;
}

.toggle__input:disabled ~ .toggle__state .toggle__control {
    background-color: var(--grey-2);
}

.toggle__input:disabled ~ .toggle__state .toggle__icon {
    background-color: var(--grey-3);
}

.toggle__input:disabled ~ .toggle__state {
    cursor: default;
}
