@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    color: white;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
}

header h1 {
    background-color: #F03D3E;
    margin-bottom: 0;
    padding: 20px;
    font-size: 40px;
}

header nav {
    background-color:goldenrod;
    font-size: 25px;
    padding: 20px;
}

header a:visited {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: yellowgreen;
    height: 400px;
}

article {
    background-color:cornflowerblue;
    margin-left: 20px;
    margin-right: 20px;
}

article h2 {
    padding-left: 20px;
}

article ul, ol {
    font-size: 20px;
}

footer {
    font-size: 40px;
    text-align: center;
    background-color: indigo;
    padding: 20px;
}
