@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #4263EB;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #212429;
    --moon: #334D6E;
    --grey-5: #90A0B7;
    --between: #A0B1F5;

    --primary: var(--blue);
    --primary-hover: #2342C0;
    --secondary: var(--purple);
    --secondary-hover: #5028C6;

    --header: var(--black);
    --header-bg: var(--white);
    --menu-logo: var(--black);
    --menu-nav: var(--grey-3);
    --menu-toggle: var(--grey-3);
    --preview: #f9fafc;
    --card: var(--black);
    --card-bg: var(--white);
    --footer: var(--black);
    --footer-bg: var(--white);

    --burger-open-bg: var(--white);
    --burger-close-bg: var(--grey-2);
    --burger: var(--black);
    --burger-menu-bg: var(--white);
    --burger-menu-text: var(--black);

    --error: var(--red);
    --success: var(--blue);

    --pages-bg: var(--grey-1);
    --component-title: var(--black);
    --component-bg: var(--white);
    --tabs-scroller: var(--black);
    --tabs-underline: var(--black);
    --code: var(--black);

    --tooltip: var(--black);
    --radio-label: var(--grey-4);
    --radio-control: var(--grey-2);
    --radio-dis: var(--grey-2);
    --radio-bg: var(--white);
    --input-bg: var(--white);
    --modal-prev: var(--white);
    --modal-bg: var(--white);
    --modal-header: var(--moon);
    --histogram: var(--black);
    --histogram-bg: var(--white);
}

html[data-theme-dark] {
    --header: var(--grey-3);
    --header-bg: var(--black);
    --menu-logo: var(--grey-2);
    --menu-nav: var(--grey-2);
    --preview: var(--grey-4);
    --card: var(--grey-3);
    --card-bg: var(--black);
    --footer: var(--grey-3);
    --footer-bg: var(--black);

    --burger-open-bg: var(--grey-4);
    --burger-close-bg: var(--grey-2);
    --burger: var(--grey-3);
    --burger-menu-bg: var(--black);
    --burger-menu-text: var(--grey-3);

    --pages-bg: var(--grey-4);
    --component-title: var(--grey-3);
    --component-bg: var(--black);
    --tabs-scroller: var(--white);
    --tabs-underline: var(--white);
    --code: var(--grey-3);

    --tooltip: var(--blue);
    --radio-label: var(--grey-2);
    --radio-dis: var(--grey-3);
    --radio-bg: var(--black);
    --input-bg: var(--black);
    --modal-prev: var(--black);
    --modal-bg: var(--black);
    --modal-header: var(--grey-3);
    --histogram: var(--white);
    --histogram-bg: var(--black);
}

* {
    font-family: 'Roboto', sans-serif;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

html, body {
    height: 100%;
}
body {
    margin: 0;
}

main {
    flex-grow: 1;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
}
