.modal {
  display: none;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(196, 196, 196, 0.5);
}

.modal_preview {
  position: relative;
  display: inline-block;
  background-color: var(--white);
}

.modal__content {
  position: absolute;
  border-radius: 8px;
  background-color: var(--white);
  padding: 30px 40px 33px 40px;
  max-width: 348px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal__content_mod {
  border: 1px solid var(--grey-3);
  max-width: 250px;
  width: 100%;
  padding: 20px 30px 23px 30px;
  border-radius: 8px;
  background-color: var(--white);
}

.modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.modal__header-title {
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--moon);
}

.modal__header-close {
  cursor: pointer;
  width: 24px;
  height: 24px;
  color: var(--grey-4);
}

.modal__body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
  margin: 0;
}

.modal-margin-top {
  margin-top: 20px;
}
