.page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    background-color: var(--grey-1);
    min-height: 100%;
}

.page__header {
    display: flex;
    align-items: center;
    height: 82px;
    background-color: var(--grey-1);
    grid-area: header;
}

.page__main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "sidebar component";
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    background-color: var(--grey-1);
    grid-area: main;
}

.page__footer {
    background-color: var(--grey-1);
    grid-area: footer;
}

.page__footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 166px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px; 
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}

.page-container {
    width: 100%;
    padding-left: 15px;
    margin: 0 auto;
    max-width: 1140px;
    box-sizing: border-box;
}
