.menu {
    display: flex;
    position: relative;
    justify-content: space-between;
    z-index: 999;
}

.menu__logo {
    width: 110px;
    height: 32px;
    color: var(--black);
}

.menu__bar {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
}

.menu__bar-items {
    display: flex;
    justify-content: space-evenly;
    max-width: 300px;
    width: 100%;
}
.menu__bar-items-item {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: var(--grey-3);
}

.menu__bar-items-item:visited {
    color: var(--black);
}

@media screen and (min-resolution: 2dppx) {
    .menu {
        display: flex;
        justify-content: center;
    }

    .menu__burger {
        display: inline-flex;
    }

    .menu__bar {
        display: none;
    }
}
