.histogram {
  display: inline-block;
  background-color: var(--white);
  border: 1px solid var(--grey-3);
  padding: 16px 24px 24px 24px;
  box-sizing: border-box;
  border-radius: 8px;
  max-width: 354px;
  width: 100%;
}

.histogram_preview {
  max-width: 300px;
  margin-top: 50px;
}

.histogram__header-container {
  display: flex;
  justify-content: space-between;
}

.histogram__header {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  margin: 0 0 6px 0;
}

.histogram__view {
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  margin-top: 3px;
  color: var(--blue);
}

.histogram__total {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: var(--black);
  margin: 0 0 39px 0;
}

.histogram__bars {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: nowrap;
  align-items: flex-end;
  height: 50px;
  width: 95%;
}

.histogram__bar {
  flex: 1 0 auto;
  margin-right: 1px;
  background: var(--blue);
}

.histogram__bar:last-child {
  margin-right: 0;
}
