.preview {
    background-color: var(--preview);
}

.preview__cards-list {
    display: flex;
    padding-top: 53px;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-content: space-around;
}

.preview__card {
    margin-bottom: 20px;
}